@keyframes submit-pulsate {
  0% { background: rgba(#ff0, 0.92); box-shadow: 0 0 6px 1px #aa0; color: #000;}
  25% { background: rgba(#aa0, 0.77); box-shadow: 0 0 12px 1px #ff0; color: #fff;}
  50% { background: rgba(#ee0, 0.92); box-shadow: 0 0 6px 1px #ee0; color: #888;}
  75% { background: rgba(#aa0, 0.77); box-shadow: 0 0 12px 1px #ff0; color: #fff;}
  100% { background: rgba(#ff0, 0.92); box-shadow: 0 0 6px 1px #aa0; color: #000;}
}

@keyframes grower {
  0% { background: #F00; box-shadow: 0 0 50px 70px #F00; opacity: 1; margin: 10px; border-radius: 0;}
  33% { background: #0F0; box-shadow: 0 0 150px 70px #0F0; opacity: 0.35; margin: 10px; border-radius: 10%;}
  50% { background: #0FF; box-shadow: 0 0 50px 70px #0FF; opacity: 0.6; margin: 20px; border-radius: 20%;}
  66% { background: #00F; box-shadow: 0 0 150px 70px #00F; opacity: 0.25; margin: 10px; border-radius: 10%;}
  100% { background: #F00; box-shadow: 0 0 50px 70px #F00; opacity: 0.95; margin: 10px; border-radius: 0;}
}

.contactContainer {
  background: url(https://storage.googleapis.com/russellmschmidt-net-portfolio/leif-erikson.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 8%);
  grid-template-rows: 15% 85%;
  justify-content: space-evenly;

  .headerContainer {
    grid-column: span 12;

    h1 {
      margin: 0rem 0 0.25rem;
    }
  }

  .imageContainer {
    display: none;
  }

  form {
    grid-column: 2 / 12;
  }

  .contactFormInput {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    resize: vertical;
    margin: 0 0 1.33rem 0;
    background: rgba(#e5e5e5, 0.92);
  }

  input[type=text].contactFormInput, input[type=email].contactFormInput, textarea.contactFormInput {
    font-size: 12px;
    border-radius: 6px;
    border: none;
  }

  select.contactFormInput {
    font-size: 10px;
  }

  textarea {
    height: 25%;
    min-height: 120px;
  }

  .submitContainer {
    text-align: center;
  }

  input[type=submit] {
    background: rgba(#ff0, 0.92);
    border: 1px solid #555;
    border-radius: 6px;
    padding: 6px 12px;
    margin-top: -10px;
    font-weight: 700;
    box-shadow: 0 0 3px 3px #660;
  }
}


@media (min-width: 768px) {
  .contactContainer {
    height: calc(100vh - 180px);
    background: none;

    .headerContainer {
      grid-column: span 12;
    }

    .imageContainer {
      display: block;
      grid-column: 2 / 5;
      img:hover {
        animation: grower 6s linear infinite;
      }
    }

    form {
      grid-column: 6 / 11;
    }

    .imageContainer, form {
      padding: 3rem 0;
    }

    .contactFormInput {
      padding: 5px;
      margin: 0 1rem 2rem 0;
    }

    textarea {
      height: 33%;
      min-height: 150px;
    }

    input[type=submit] {
      cursor: pointer;
      box-shadow: 0 0 1px 1px #ddd;
      &:hover {
        animation: submit-pulsate 3s ease-in-out infinite;
      }
    }
  }
}

